aiodns
aiohttp
async-timeout
attrs
beautifulsoup4
bs4
certifi
chardet
fake-useragent
idna
iso-639
iso3166
isodate
maxminddb
multidict
pycares
pycryptodome
PySocks
requests
selenium
six
soupsieve
streamlink
typing
urllib3
websocket-client
yarl
